<div class="animated fadeIn">

    <!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row text-center">
                <!--/.col-->
                <div class="col-sm-12 d-none d-md-block">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <img [src]="imageAvatar1" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(0)" />
                            <img [src]="imageAvatar2" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(1)" />
                            <img [src]="imageAvatar3" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(2)" />
                            <img [src]="imageAvatar4" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(3)" />
                            <img [src]="imageAvatar5" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(4)" />
                            <img [src]="imageAvatar6" style="width: 100px;" class="img-avatar" alt="" onerror="this.style.display = 'none'" (error)="onErrorImage(5)" />
                            <img *ngIf="imageDefault==true" src="assets/img/avatars/avatar.jpg" style="width: 100px;" class="img-avatar" alt="" />
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <div>{{ record_personal.nombre + ' ' + record_personal.apellidopaterno + ' ' + record_personal.apellidomaterno }}</div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <div class="text-muted">{{ record_personal.email }}</div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.card-->
</div>
