<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">

                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" [(ngModel)]="record.nombre" class="form-control" name="Nombre">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="esquema">Esquema</label>
                                <select class="form-control" [(ngModel)]="record_esquema" name="Esquema" (change)="onSelectEsquema($event.target.value)">
                                    <option *ngFor="let col of esquemasCat" [value]="col.esquema">{{ col.esquema }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="tipoelemento">Tipo de elemento</label>
                                <select class="form-control" [(ngModel)]="record_tipoelemento" name="Tipo de elemento" (change)="onSelectTipoElemento($event.target.value)">
                                    <option value="">---</option>
                                    <option value="tabla">Tabla</option>
                                    <option value="funcion">Función</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="esTabla" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="tabla">Tabla</label>
                                <select class="form-control" [(ngModel)]="record.tabla" name="Tabla" (change)="onSelectTabla($event.target.value)">
                                    <option value="">---</option>
                                    <option *ngFor="let col of tablasCat" [value]="col.tabla">{{ col.tabla }}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="esTabla" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="campo">Campo</label>
                                <select class="form-control" [(ngModel)]="record.campo" name="Campo" >
                                    <option *ngFor="let col of camposCat" [value]="col.campo">{{ col.campo }}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="esFuncion" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="funcion">Función</label>
                                <select class="form-control" [(ngModel)]="record.funcion" name="Función" >
                                    <option *ngFor="let col of funcionesCat" [value]="col.funcion">{{ col.funcion }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="text" [(ngModel)]="record.descripcion" class="form-control" name="Descripción">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="continuarEditando()">Continuar editando</button>
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->