<nav class="header-admin navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--<select class="form-control" id="cmbState" [(ngModel)]="selectedState"  (change)="onSelectState($event.target.value)">
              <ng-container *ngFor="let col of itemsStates ;index as i">
                <option value = "{{ col.state }}">{{ col.idesc }}</option>
              </ng-container>
            </select>-->
            <button *ngIf="tituloBotonAdicional!=''" class="btn btn-primary my-2 my-sm-0" (click)="onClickAdicional()" [disabled]="loadingActualizar">{{tituloBotonAdicional}}
              <i class="fa fa-spinner fa-spin" *ngIf="loadingActualizar"></i>
            </button> &nbsp;
            <button *ngIf="tituloBotonReporte!=''" class="btn btn-primary my-2 my-sm-0" (click)="onClickReporte()">{{tituloBotonReporte}}</button> &nbsp;
            <button *ngIf="tituloBotonReporte2!=''" class="btn btn-primary my-2 my-sm-0" (click)="onClickReporte2()">{{tituloBotonReporte2}}</button> &nbsp;
            <button *ngIf="tituloBotonReporte3!=''" class="btn btn-primary my-2 my-sm-0" (click)="onClickReporte3()">{{tituloBotonReporte3}}</button> &nbsp;
            <button *ngIf="tituloBotonAgregar!=''" class="btn btn-success my-2 my-sm-0" (click)="onClickAgregar()">{{tituloBotonAgregar}}</button>
        </form>
    </div>
</nav>