<div bsModal #basicModalPercepcionesadeudos="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document" style="background: rgb(140, 255, 0); top: 20px;">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label for="id_personal">Personal</label>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete #id_personal [data]="catpersonalCat" (selected)='onSelectIdPersonal($event)' (inputChanged)='onChangeSearchIdPersonal($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keywordSearch" [minQueryLength]="3"
                                        [debounceTime]="100" [isLoading]="isLoadingSearch" [disabled]="actionForm=='nuevo'?false:true">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a href="javascript:void(0)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span [innerHTML]="item.full_name"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_cattiposadeudos">Tipo de adeudo</label>
                                <select [(ngModel)]="record.id_cattiposadeudos" class="form-control" name="Tipo de adeudo" (change)="onChangeTipoAdeudo($event.target.value)" [disabled]="actionForm=='nuevo'?false:true">
                                    <option value="">--</option>
                                    <option *ngFor="let col of cattiposadeudosCat" [value]="col.id">{{ col.descripcion }}</option>
                                  </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catquincena_aplicacion">Quincena de aplicación</label>
                                <ng-select2 [(ngModel)]="record.id_catquincena_aplicacion" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena de aplicación" [disabled]="true">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catquincena_ini">Inicio de adeudo</label>
                                <ng-select2 [(ngModel)]="record.id_catquincena_ini" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena de inicio" [disabled]="true">
                                </ng-select2>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catquincena_fin">Término de adeudo</label>
                                <ng-select2 [(ngModel)]="record.id_catquincena_fin" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena de término" [disabled]="true">
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="record_quincenasadeudadas">Quincenas adeudadas</label>
                                <input type="text" [(ngModel)]="record_quincenasadeudadas" class="form-control" name="Quincenas adeudadas" (change)="onChangeQuincenasAdeudadas($event.target.value)" [disabled]="actionForm=='nuevo'?false:true">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="record_restarquincenas">Restar a quincena final</label>
                                <input type="text" [(ngModel)]="record_restarquincenas" class="form-control" name="Restar a quincena final" (change)="onChangeQuincenasRestar($event.target.value)" [disabled]="actionForm=='nuevo'?false:true"> 
                            </div>
                        </div>
                    </div>
                    <div *ngIf="editarDias" class="row">
                        <form [formGroup]="formQuincenas">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Quincena</th>
                                        <th>Días a pagar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of quincenasCat">
                                        <td>{{ item.quincena }}</td>
                                        <td><input type="text"  id="{{item.id}}"  formControlName="{{item.quincena}}" value="{{item.dias}}" disabled="{{actionForm=='nuevo'?false:true}}"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
