<div *ngIf="currentFileUpload" class="progress">
    <div [ngClass]="(progress.percentage<=99)?'progress-bar-warning bg-warning progress-bar':'progress-bar-success bg-success progress-bar'" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
  <input type="hidden" [(ngModel)]="id" class="form-control" name="ID">
  <input type="file" (change)="selectFile($event)" #fileInput>
</label>

<button *ngIf="actionForm!=='ver'" class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Subir archivo</button>