<div bsModal #basicModalOrdinarios="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document" style="background: rgb(140, 255, 0); top: 20px;">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <table>
                                <tr>
                                    <td>
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.JPG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.jpg'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.PNG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.png'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.JPEG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.jpeg'" style="width:100px" class="img-avatar" alt="" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group col-sm-10">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Plaza base</label>
                                    <select class="form-control" name="Plaza base" multiple [disabled]="true" size="3">
                                        <ng-container *ngFor="let row of tblNombramientos; index as i">
                                            <option  *ngIf="row.esplazabase==1"  value="{{row.id_plaza}}">{{ row.clave }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Nombramientos vigentes; <span style="background-color:burlywood;">Quincena activa: {{ record_quincena_activa }}</span></label>
                                    <select class="form-control" name="Nombramientos vigentes" (change)="onPlazaChange($event.target.value)" multiple>
                                        <option  *ngFor="let row of tblNombramientos; index as i" [selected]="row.id_plaza == record_id_plaza" value="{{row.id_plaza}}">{{ row.clave }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="table tablaInfo" id="pdfTable" #pdfTable>
                                <div class="tr">
                                    <div class="th" >Clave</div>
                                    <div class="th" >Percepciones</div>
                                    <div class="th" >Importe</div>
                                    <div class="th" >&nbsp;&nbsp;&nbsp;</div>
                                    <div class="th" >Clave</div>
                                    <div class="th" >Deducciones</div>
                                    <div class="th" >Importe</div>
                                </div>
                                
                                <ng-container *ngFor="let col of registros;index as i">
                                    <div class="tr">
                                        <div class="td"> {{ col.cvep }} </div>
                                        <div class="td"> {{ col.descp }} </div>
                                        <div class="td" style="text-align: right !important;"> {{ moneda(col.impop) }} </div>
                                        <div class="td" >&nbsp;&nbsp;&nbsp;</div>
                                        <div class="td"> {{ col.cved }} </div>
                                        <div class="td"> {{ col.descd }} </div>
                                        <div class="td" style="text-align: right !important;"> {{ moneda(col.impod) }} </div>
                                    </div>
                                </ng-container>
                                <div class="tr">
                                    <div class="td" style="width: 30% !important;font-weight: bold !important;"> Suma de percepciones </div>
                                    <div class="td" style="font-weight: bold !important;text-align: right !important;width: 10% !important;"> {{ moneda(suma_percepciones) }} </div>
                                    <div class="td" style="width: 20% !important;">&nbsp;&nbsp;&nbsp;</div>
                                    <div class="td" style="width: 30% !important;font-weight: bold !important;"> Suma de deducciones </div>
                                    <div class="td" style="font-weight: bold !important;text-align: right !important;width: 10% !important;"> {{ moneda(suma_deducciones) }} </div>
                                </div>
                                <div class="tr">
                                    <div class="td" style="width: 60% !important;">&nbsp;&nbsp;&nbsp;</div>
                                    <div class="td" style="width: 30% !important;font-weight: bold !important;"> TOTAL NETO </div>
                                    <div class="td" style="font-weight: bold !important;text-align: right !important;width: 10% !important;"> {{ moneda(suma_total) }} </div>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
